{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des produits</h2>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.prix }}</td>
                    <td>{{ product.category.name }}</td>
                </tr>
            {{ %endfor }}
        </tbody>
    </table>
{% endblock %}